.dashboard {
  display: grid;
  grid-template-columns: repeat( 8, minmax(64px, 64px) );
  border-top: 1px solid #57c0a9;
  border-left: 1px solid #57c0a9;
  border-right: 1px solid #57c0a9;
  margin: 20px auto 0;
  max-width: calc(64px * 8);
}